[Unit]
Description=JSBach Server CLI Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/JSBach/system
ExecStart=/usr/local/JSBach/system/srv_cli
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
